@model Ticaret.Models.Odemeler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Odemeler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.odeme_tipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odeme_tipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Siparisler1.durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siparisler1.durum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.odeme_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
