@model Ticaret.Models.Urunler

@{
    ViewBag.Title = "Detaylar";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="@Model.picture" alt="@Model.urun_adi" class="img-fluid" style="max-width: 100%;" />
        </div>
        <div class="col-md-6">
            <h5>Marka: @Model.Saticilar.sirket_adi</h5>
            <h2>@Model.urun_adi</h2>
            <p class="text-muted">Stokta #@Model.stok</p>

            <div class="my-3">
                <h3 class="text-danger">@Model.fiyat TL</h3>
            </div>
            <div>
                <form action="@Url.Action("SepeteEkle", "Sepet")" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="urun_id" value="@Model.urun_id" />
                    <button type="submit" class="btn btn-success btn-lg w-100">Sepete Ekle <i class="fas fa-shopping-cart" style="color: white; font-size: 20px;"></i></button>
                </form>
            </div>
            <div class="mt-3">
                <a href="@Url.Action("Index1", "Urunler")" class="btn btn-secondary w-100">Ürünlere Geri Dön <i class="fas fa-backward" style="color: white; font-size: 20px;"></i></a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Açıklama</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="payment-methods-tab" data-bs-toggle="tab" href="#payment-methods" role="tab" aria-controls="payment-methods" aria-selected="false">Ödeme Seçenekleri</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <p class="mt-3">@Model.aciklamasi  </p>
                </div>
                <div class="tab-pane fade" id="payment-methods" role="tabpanel" aria-labelledby="payment-methods-tab">
                    <p class="mt-3">Hem Kartla ödeme, hem de Kapıda ödeme seçenekleri mevcuttur.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
